.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 100px;
    border: 1px solid red;
    padding: 20px;
}
.active {
    background-color: #61dafb;
    text-decoration: line-through;

}